@font-face {
    font-family: 'Magnetik';
    src: url(./Font/Magnetik-ExtraLight.otf);
}
@font-face {
    font-family: 'Magnetik-Regular';
    src: url(./Font/Magnetik-Medium.otf);
}
@font-face {
    font-family: 'Magnetik-A';
    src: url(./Font/Magnetik-Light.otf);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Magnetik', sans-serif;
}

.nav-toggle-button{
    display: none;
}

html, body {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}

main{
    width: 100%;
    height: 100%;
    background-color: beige;
    position: relative;
}

.front-page{
    width: 100%;
    height: 100%;
    background-color: beige;
}

.background-image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.background-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    position: fixed;
    width: 100%;
    height: calc(12vh - 3px);
    display: flex;
    z-index: 1000;
    transition: all ease 0.5s;
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}

nav:hover{
    background-color: white;
}

.left-nav{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 8%;
    padding-left: calc(10% + 10px);
}

.left-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.left-part svg{
    width: 36px;
    height: 36px;
}

.left-part h1{
    width: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
}

.left-part h1 span{
    font-family: 'Magnetik-Regular';
}

.right-part{
    display: flex;
    align-items: center;
    gap: 31px;
    color: #1c1b19;
}

.right-part h1{
    width: fit-content;
    font-size: 14.5px;
    font-weight: 400;
}

.right-nav{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.credit-app{
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
    padding-right: 15px;
}

.credit-app h1{
    font-size: 14px;
    font-weight: 100;
}

.credit-app i{
    font-size: 15px;
}

.right-nav-icon{
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
}

.icon-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    transition: all ease 0.3s;
    background-color: transparent;
}

.icon-container i{
    font-size: 10px;
}

.icon-overlay i{
    font-size: 10px;
}

.icon-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: all ease 0.3s;
    background-color: #1D1D1B;
}

.right-nav-icon:hover .icon-overlay{
    top: 0;
}
.right-nav-icon:hover .icon-container{
    top: -100%;
}

.hero{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.content{
    position: absolute;
    top: 17%;
    left: calc(10% + 10px);
    width: 45%;
}

.content p{
    font-size: 78px;
    font-weight: 300;
    line-height: 114%;
}

.boxes{
    width: calc(59% - 20px);
    height: 287px;  
    position: absolute;
    top: calc(54% + 13px);
    left: calc(10% + 10px);
    display: flex;
    justify-content: space-between;
}

.box{
    background-color: rgba(255, 255, 255, 0.25);
    width: calc(32% + 2px);
    height: 100%;
    backdrop-filter: blur(1.6rem);
    border-radius: 15px;
    position: relative;
}

.no-hover{
    width: 100%;
    height: 100%;
    top: calc(40% + 10px);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.no-hover h1{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0%;
    font-weight: 400;
    transition: all ease 0.5s;
    font-size: 28.5px;
}

.box:hover .no-hover h1{
    top: -10%;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: all ease 0.5s;
    display: flex;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.para{
    width: 100%;
    position: relative;
    height: 3vh;
    padding-left: 20px;
    overflow: hidden;
}

.para h4{
    position: absolute;
    top: 150%;
    font-size: 14px;
    transition: all ease 0.7s;
    font-weight: 200;
}

.box:hover .overlay{
    background-color: #fffdf5;
}

.box:hover .overlay .para h4{
    top: 0;
}

.horizontal-line{
    width: 80%;
    height: 10px;
    position: absolute;
    top: 80%;
    padding-left: 10%;
}

.horizontal-line::after{
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    background-color: black;
    transition: all ease 0.7s;
}

.box:hover .horizontal-line::after{
    width: 100%;
}

.tell-me-part{
    width: 100%;
    height: 12%;
    bottom: 4%;
    position: absolute;
    padding-left: calc(10%);
    padding-right: 10%;
}

.effect-part h5{
    font-weight: 300;
}

.tell-me-container{
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.effect-part{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70%;
    transition: all ease 0.7s;
}

.effect-part-arrow{
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.box:hover .effect-part{
    top: 0;
}

.mobile-marquee{
    display: none;
}

.marquee{
    width: 100%;
    height: 100%;
    background-color: #dfdac6;
    position: relative;
}

.marquee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 0.5;
}

.marquee-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
}

.marquee-content{
    width: fit-content;
    height: 10vh;
}

.marquee-content-upper{
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    animation: anime 10s infinite linear;
}

.marquee-content-upper h1{
    width: fit-content;
    height: 80%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 56.8889px;
    font-family: 'Magnetik-A';
}

@keyframes anime {
    0%{
        transform: translateX(calc(-25% - 318px));
    }
    100%{
        transform: translateX(calc(0%));
    }
}

.marquee-content-lower{
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    animation: anime-bottom 10s infinite linear;
}

.marquee-content-lower h1{
    width: fit-content;
    font-size: 56.8889px;
    height: 80%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-family: 'Magnetik-A';
}

@keyframes anime-bottom {
    0%{
        transform: translateX(calc(0%));
    }
    100%{
        transform: translateX(calc(-25% - 202px));
    }
}

.image-cards-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    overflow: hidden;
    background-color: #dfdac6;
}

.imgbx{
    height: 287px;
    width: 287px;
    transition: all ease 0.5s;
    z-index: 100;
}

.imgbx1:hover{
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}
.imgbx2:hover{
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}
.imgbx3:hover{
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}

.image-cards-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    transition: 1s cubic-bezier(0, 0.8, 0.72, 1.03);
    transform: scale(110%);
    opacity: 0;
}

.imgbx1:hover ~ .img1{
    transform: scale(100%);
    z-index: 1;
    opacity: 1;
}

.imgbx2:hover ~ .img2{
    transform: scale(100%);
    opacity: 1;
    z-index: 1;
}
.imgbx3:hover ~ .img3{
    transform: scale(100%);
    opacity: 1;
    z-index: 1;
}

.imgbx .no-hover{
    color: white;
}

.page-4{
    width: 100%;
    height: auto;
    background-color: #fffdf5;
}

.page-4-info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.p4-sec1{
    border-bottom: 1px solid gray;
}

.p4-sec{
    border-top: 1px solid gray;
}

.p4-sec, .p4-sec1{
    height: 33%;
    width: 100%;
    padding: 0 calc(10% + 10px);
    display: flex;
    align-items: center;
}

.p4-sec h1{
    font-size: 30px;
    font-family: 'Magnetik-A';
    font-weight: 300;
    width: 60%;
}

.p4-sec:nth-child(1) h1{
    font-size: 57px;
}

.p4-sec1-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.p4-sec1-right p{
    font-size: 18px;
}

.p4-h3{
    position: relative;
    height: 4vh;
    width: 10vh;
    border-radius: 5px;
    overflow: hidden;
}

.p4-h3 h3{
    font-weight: 400;
    font-size: 13px;
}

.no-hover-h3{
    background-color: black;
    color: #fffdf5;
    width: fit-content;
    height: 4vh;
    width: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: all ease 0.5s;
}

.overlay-h3{
    background-color: rgb(63, 63, 63);
    color: #fffdf5;
    width: fit-content;
    height: 4vh;
    width: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    transition: all ease 0.3s;
}

.p4-h3:hover .no-hover-h3{
    top: -100%;
}

.p4-h3:hover .overlay-h3{
    bottom: 0%;
}

.p4-products{
    width: 100%;
    padding: 0 calc(10% + 10px);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p4-products-top{
    display: flex;
    justify-content: space-between;
}

.p4-products-top h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.p4-product-box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.shop-now-p4{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.p4-box1{
    height: 50vh;
    width: 40vh;
    margin-top: 5vh;
}

.p4-product-container{
    height: 40vh;
    width: 40vh;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.quantity-container-box{
    position: absolute;
    bottom: 1%;
    left: 3%;
    display: flex;
    gap: 1vh;
    opacity: 0;
    transition: all ease 0.3s;
}

.quantity-container-box h3{
    border-radius: 4px;
    font-size: 0.7rem;
    border: 1px solid #12271d;
    font-weight: 400;
    padding: 3px 6px;
}

.p4-product-container:hover .quantity-container-box{
    opacity: 1;
    bottom: 3%;
}

.p4-image{
    height: 100%;
    width: 100%;
    position: absolute;
}

.p4-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

.p4-product-container:hover .p4-image img{
    transform: scale(108%);
}

.p4-product-container h4{
    position: absolute;
    right: -10px;
    rotate: 90deg;
    top: 10%;
    background-color: #616958;
    padding: 0px 8px 7px 8px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    color: #fffdf5;
    font-size: 13px;
    border-radius: 3px;
}

.p4-box1 h5{
    font-weight: 400;
    font-size: 14px;
    margin: 1vh 0;
}

.page-5{
    width: 100%;
    height: 75vh;
    background-color: #12271d;
    color: #fffdf5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
    overflow: hidden;
}

.p5-top{
    display: flex;
    height: 33vh;
}

.p5-left{
    padding: 0 calc(10% + 10px);
    width: 75%;
}

.p5-left h5{
    font-weight: 400;
    margin-bottom: 2vh;
    font-size: 18px;
}

.p5-left h1{
    font-family: 'Magnetik-A';
    font-size: 58px;
    line-height: 110%;
    font-weight: 400;
}

.p5-right{
    width: 25%;
}

.p5-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(10%);
    scale: 150%;
}

.p5-marquee{
    height: 20vh;
    width: 100%;
    border-top: 1px solid #fffdf5;
    border-bottom: 1px solid #fffdf5;
    display: flex;
    align-items: center;
}

.p5-marquee-text{
    display: flex;
    align-items: center;
    animation: p5-marquee 8s infinite linear;
}

.p5-marquee-text h1{
    font-size: 40px;
    flex-shrink: 0;
    font-family: 'Magnetik-A';
    font-weight: 400;
    padding: 0px 1vh;
}

.p5-marquee-text svg{
    flex-shrink: 0;
    padding: 0px 1vh;
}

@keyframes p5-marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
    transform: translateX(calc(-56% - 0.8vh));
    }
}

.page-6{
    width: 100%;
    height: 110vh;
    background-color: #fffdf5;
    display: flex;
    padding: 10vh calc(10% + 10px) 10vh calc(10% + 10px);
    gap: 10vh;
}

.p6-left{
    width: 47%;
}

.p6-left-upper{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: column;
}

.p6-left-upper h1{
    font-size: 2.4rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.p6-left-upper p{
    font-size: 15px;
    font-weight: 500;
}

.p6-left-lower{
    height: 84%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p6-lower-text{
    height: 14.2%;
    border-bottom: 1px solid rgb(178, 178, 178);
    display: flex;
    gap: 3vh;
    align-items: center;
}

.square-box{
    height: 1.4vh;
    width: 1.4vh;
    background-color: black;
    border-radius: 3px;
}

.p6-lower-text h2{
    font-size: 27px;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.faq-section{
    height: 60vh;
    width: 100%;
    background-color: #f7f4e9;
    padding: 10vh calc(10% + 10px);
    display: flex;
    gap: 10vh;
}

.left-faq{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.left-faq h1{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.right-faq{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-faq-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding-right: 0.5vh;
}

.right-faq-box:hover h2{
    margin-left: 1.5vh;
}

.right-faq-box h2{
    font-size: 1.3rem;
    padding-top: 1.5vh;
    font-weight: 400;
    transition: all ease 0.3s;
}

.right-faq-box h1{
    font-size: 3.5vh;
    transition: all ease 0.3s;
    font-style: 'Magnetik';
}

.right-faq-box h1:hover{
    scale: 110%;
}

footer{
    height: 100vh;
    width: 100%;
    padding: 5vh calc(10% + 10px);
    background-color: #dfdac6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-f{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-f h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.up-arrow-box{
    height: 9.7vh;
    width: 9.7vh;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}

.up-arrow-box:hover{
    border-radius: 17px;
}

.disapp{
    position: relative;
    height: 5vh;
    width: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.disapp svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 5vh;
    rotate: -90deg;
    transition: all ease 0.3s;
}

.up-arrow-box:hover .disapp svg{
    top: -100%;
}

.overlay-ua{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #12271d;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    left: 0;
    transition: all ease 0.3s;
}

.up-arrow-box:hover .overlay-ua{
    bottom: 0;
}

.overlay-ua svg{
    rotate: -90deg;
    height: 5vh;
    width: 5vh;
}

.lower-f{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.upper-lf{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vh;
}

.lf-box{
    height: 100%;
    width: 40vh;
    position: relative;
    display: flex;
    align-items: center;
}

.lf-bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 1s;
    scale: 115%;
}

.lf-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lf-box svg{
    height: 100%;
    width: 100%;
}

.lf-text{
    width: 100%;
    height: 6vh;
    overflow: hidden;
    position: relative;
}

.lf-text h1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Magnetik-A';
    position: absolute;
    z-index: 5;
}

.lf-img-box{
    border: 1px solid #12271d;
    border-radius: 5%;
    transition: border-radius ease 0.5s;
    overflow: hidden;
}

.lf-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.283);
    opacity: 0;
}

.lf-img-box:hover .lf-filter{
    opacity: 1;
}

.lf-img-box:hover .lf-bg-img{
    opacity: 1;
    scale: 100%;
}

.lf-img-box:hover{
    border-radius: 30%;
    border: none;
}

.no-hover-lf{
    top: 0;
    transition: all ease 0.2s;
}

.hover-lf{
    bottom: -100%;
    color: white;
    transition: all ease 0.3s;
}

.lf-img-box:hover .no-hover-lf{
    scale: 95%;
    top: -100%;
    opacity: 0;
}

.lf-img-box:hover .hover-lf{
    bottom: 0;
}

.lower-lf{
    height: 8vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    border: 1px solid #12271d;
}

.left-lf{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.f-socials{
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-left: 2.5vh;
}

.f-social:hover{
    scale: 108%;
}

.f-social{
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 3vh;
}

.left-lf h3{
    font-weight: 500;
    font-style: 'Magnetik-A';
    font-size: 1.1rem;
}

.right-lf{
    display: flex;
    gap: 3vh;
}

.right-lf-text{
    position: relative;
    overflow: hidden;
    height: 3vh;
    width: fit-content;
}

.right-lf-text h3{
    font-size: 0.9rem;
    font-weight: 400;
    transition: all ease 0.3s;
}

.checking-purpose-rlf{
    opacity: 0;
}

.no-hover-rlf, .hover-rlf{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.no-hover-rlf{
    top: 0;
}

.right-lf-text:hover .no-hover-rlf{
    scale: 90%;
    top: -100%;
}

.hover-rlf{
    scale: 90%;
    bottom: -100%;
}

.right-lf-text:hover .hover-rlf{
    scale: 100%;
    bottom: 0%;
}

@media (max-width: 480px) {

    nav{
        height: 7vh;
    }

    .left-nav{
        padding-left: 3%;
    }

    .left-part h1{
        display: none;
    }

    .right-part{
        display: none;
    }

    .right-nav-icon{
        height: 40px !important;
        width: 40px !important;
    }

    .icon-container svg{
        width: 25px;
        height: 25px;
    }

    .background-image-container img{
        display: none;
    }

    .front-page{
        background-image: url(https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks_mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 160%;
    }

    .credit-app{
        display: none;
    }

    .content p{
        font-size: 53px;
    }

    .content{
        width: 90%;
        top: calc(11% + 5px);
    }

    .nav-toggle-button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 39px;
        height: 16px;
        align-items: flex-end;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 7px;
    }

    .burger-line{
        width: 55%;
        height: 1px;
        background-color: black;
    }

    .nav-toggle-button .burger-line:nth-child(1){
        width: 95%;
    }

    .hero{
        margin-left: -10%;
    }
    
    .boxes{
        flex-direction: column;
        width: 95%;
        gap: 10px;
        top: auto;
        bottom: 15vh;
    }

    .box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: auto;
        bottom: -35%;
    }

    .no-hover h1{
        position: static;
    }

    .box:active .no-hover{
        background-color: white;
    }

    .no-hover{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        transition: all ease 0.5s;
    }

    .overlay{
        display: none;
    }

    .marquee img{
        width: 188%;
        height: 90%;
        left: -43%;
        position: absolute;
        top: 5%;
    }

    .marquee-content{
        display: none;
    }

    .mobile-marquee{
        width: 100%;
        height: 5vh;
        display: flex;
        overflow: hidden;
    }

    .mb-lr, .mb-rl{
        width: fit-content;
        display: flex;
        gap: 3vh;
    }

    .mb-lr h1, .mb-rl h1{
        width: fit-content;
        flex-shrink: 0;
        font-size: 37px;
    }

    .mb-lr1{
        animation: yc-lr1 7s infinite linear;
    }
    
    .mb-lr2{
        animation: yc-lr2 7s infinite linear;
    }
    
    .mb-rl1{
        animation: yc-rl1 7s infinite linear;
    }

    .mb-rl2{
        animation: yc-rl2 7s infinite linear;
    }
    
    @keyframes yc-rl1 {
        0%{
            transform: translateX(calc(0% - 34px));
        }
        100%{
            transform: translateX(calc(-38% - 5px));
        }
    }

    @keyframes yc-rl2 {
        0%{
            transform: translateX(calc(0% - 28px));
        }
        100%{
            transform: translateX(calc(-36% - 7px));
        }
    }

    @keyframes yc-lr1 {
        0%{
            transform: translateX(calc(-77% - 3px));
        }
        100%{
            transform: translateX(0%);
        }
    }

    @keyframes yc-lr2 {
        0%{
            transform: translateX(calc(-68% - 45px));
        }
        100%{
            transform: translateX(calc(0% - 40px));
        }
    }

    .image-cards-container{
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
    }

    .image-cards-container img{
        display: none;
    }

    .image-cards-container{
        padding-top: 10vh;
        height: auto;
        z-index: 0;
        display: flex;
        align-items: center;
        background-image: url(https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-for-food-service-takeout-catering-deli-smoothies-coffee-desserts.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 340%;
    }

    .imgbx{
        height: 170px;
        width: 90%;
    }

    .imgbx3{
        margin-bottom: 10vh;
    }

    .imgbx1:hover{
        transform: scale(100%);
        margin-left: 0;
        margin-right: 0;
    }
    .imgbx2:hover{
        transform: scale(100%);
        margin-left: 0;
        margin-right: 0;
    }
    .imgbx3:hover{
        transform: scale(100%);
        margin-left: 0;
        margin-right: 0;
    }

    .imgbx:active .no-hover{
        color: black;
    }
}